:root.pf-custom-styles {
  --pf-v6-global--FontFamily--sans-serif: 'IBM Plex Sans', sans-serif !important;
  --pf-v6-global--FontFamily--heading--sans-serif: 'IBM Plex Sans', sans-serif !important;
  --pf-v6-global--FontFamily--monospace: 'IBM Plex Mono', monospace !important;
  --pf-v6-global--FontSize--md: 16px;
  --pf-v6-global--FontSize--lg: 18px;
}

.pf-custom-styles {
  --pf-global--FontFamily--sans-serif: 'IBM Plex Sans', sans-serif !important;
  --pf-global--FontFamily--heading--sans-serif: 'IBM Plex Sans', sans-serif !important;
  --pf-global--FontFamily--monospace: 'IBM Plex Mono', monospace !important;

  --pf-v5-global--FontFamily--sans-serif: 'IBM Plex Sans', sans-serif !important;
  --pf-v5-global--FontFamily--heading--sans-serif: 'IBM Plex Sans', sans-serif !important;
  --pf-v5-global--FontFamily--monospace: 'IBM Plex Mono', monospace !important;
}
